{% extends 'main/base.html' %}

{% block title %} Register New User {% endblock %}

{% block content %}
<div class = "wrapper pages-content">
    <section class="container content d-flex flex-column align-items-center ">
        <br>
    <h1>Concerge Register Page</h1>
    <h3>Sign Up</h3>
    {% if message %}
    <div class="alert alert-danger" role="alert">
    {{ message }}
    </div>
    {% endif %}
    <div class="d-flex flex-row gap-1 col-9">
        <div class="card-body gap-2 p-3 border border-1 rounded-2 col-12" style="background-color: #dfdddc85;">
        <div class="row">
       

        <form class="d-flex flex-column gap-1"  action="{% url 'accounts:register_page_view' %}?user=concerge" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}

            <label class="align-self-start">User Name:</label>
            <input class="form-control " type="text" name="username"  />

            <label class="align-self-start">Fisrt Name:</label>
            <input class="form-control " type="text" name="first_name"  />

            <label class="align-self-start">Last Name:</label>
            <input class="form-control " type="text" name="last_name"  />

            <label class="align-self-start">Email:</label>
            <input class="form-control" type="email" name="email" required minlength="3" />

            <label class="align-self-start">City:</label>
            <input class="form-control" type="text" name="city" />

            <label class="align-self-start">Address:</label>
            <input class="form-control" type="text" name="address" />
    

            <label class="align-self-start">Phone Number:</label>
            <input class="form-control" type="tel" name="phone_number" />

            <label class="align-self-start">Password:</label>
            <input class="form-control" type="password" name="password" required minlength="8" />


            <input class="btn btn-secondary mt-3 mb-3" type="submit" value="Sign Up" />
        </form>

    </div>

</div>
</div>
</div>
</section>
</div>
{% endblock %}