{% extends 'main/base.html' %}

{% block title %} LogIn User {% endblock %}

{% block content %}
<div class = "wrapper pages-content">


    <div class="row content d-flex flex-column align-items-center ">
            <h1>Sign In </h1>
            {% if message %}
                <div class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
            {% endif %}

        <div class="col-6">
           

            <form action="{% url 'accounts:login_page_view' %}" method="POST" >
                {% csrf_token %}
                <label>User Name:</label>
                <input class="form-control " type="text" name="username"  />

                <label>Password:</label>
                <input class="form-control" type="password" name="password" required minlength="8" />


                <input class="btn btn-secondary mt-3" type="submit" value="Sign In" />
                <hr>
                <h6 class = "mb-3">Don't have an account? <a href="{% url 'accounts:register_page_view' %}">Sign up</a></h6>
            </form>

        </div>

    </div>
</div>

{% endblock %}