{% extends 'main/base.html' %}

{% block title %} User profile {% endblock %}


{% block content %}
<div class = "wrapper pages-content">
    <div class = "container">

        <div class="row content d-flex flex-column align-items-center">
            <h1 class = "mt-5">Profile</h1>

            <div class="col-3 review d-flex flex-column mb-5 w-50 align-items-center">
            <img class="avatar mt-3" src="{{ user.profile.avatar.url }}"  width="80px" class="avatar rounded-circle" />

            <h2>Name:</h2>
            <h4>{{ user.first_name }} {{ user.last_name }}</h4>

            <h2>Email:</h2>
            <a href="mailto:{{ user.email }}"><h4>{{user.email}}</h4></a>

            <h2>City:</h2>
            <h4>{{user.profile.city}}</h4>

            <h2>Address:</h2>
            <h4>{{user.profile.address}}</h4>

            <h2>Phone Number:</h2>
            <a href="tel:{{user.profile.phone_number}}"> <h4>{{user.profile.phone_number}}</h4></a>

            <h2>Gender</h2>
            <h4>{{user.profile.gender}}</h4>
            
            
            <h2>Nationality:</h2>
            <h4>{{user.profile.nationality}}</h4>

            <h2>Talk About Your Self:</h2>
            <p>{{user.profile.about}}</p>

           
            </div>
        </div>


    </div>


    <div class="container">
        <h4>All Review </h4>
        <div class="row mt-5">
            <div class="col-4">
                {% for review in reviews %}
                <hr>
                    <h4>{{review.user.first_name}}</h4>
                    <a href="{% url 'services:details_service_view' review.services.id %}" ><h4> {{review.services.title}}</h4></a>
                    <h4>{{review.comment}}</h4>
                    <h4>{{review.rating}}</h4>
                {% endfor %}
            </div>
        </div>
    </div>
    

</div>
{% endblock %}