{% extends 'main/base.html' %}

{% block title %} Register New User {% endblock %}

{% block content %}
<div class = "wrapper pages-content">
<div class="row content d-flex flex-column align-items-center">
    <h1>Sign Up</h1>
    {% if message %}
    <div class="alert alert-danger" role="alert">
    {{ message }}
    </div>
    {% endif %}
    <div class="col-6">
       

        <form class="d-flex flex-column gap-1"  action="{% url 'accounts:register_page_view' %}" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            <label class="align-self-start">Avatar:</label>
            <input class="form-control" type="file" name="avatar" required  placeholder="choose avatar"/>

            <label class="align-self-start">User Name:</label>
            <input class="form-control " type="text" name="username"  />

            <label class="align-self-start">Fisrt Name:</label>
            <input class="form-control " type="text" name="first_name"  />

            <label class="align-self-start">Last Name:</label>
            <input class="form-control " type="text" name="last_name"  />

            <label class="align-self-start">Email:</label>
            <input class="form-control" type="email" name="email" required minlength="3" />

            <label class="align-self-start">City:</label>
            <input class="form-control" type="text" name="city" />

            <label class="align-self-start">Address:</label>
            <input class="form-control" type="text" name="address" />
    

            <label class="align-self-start">Phone Number:</label>
            <input class="form-control" type="tel" name="phone_number" />

            <div class="mb-3">
                <label for="gender" class="align-self-start">Gender:</label>
                <select name="gender" id="gender" class="form-select">
                    <option value="Male"> Male </option>
                    <option value="Female"> Female </option>
                    <option value="Other"> Other </option>
                </select>
            </div>

            <label class="align-self-start">Nationality:</label>
            <input class="form-control" type="text" name="nationality" />

            <label class="align-self-start">About You:</label>
            <input class="form-control" type="text" name="about" />

            <label class="align-self-start">Password:</label>
            <input class="form-control" type="password" name="password" required minlength="8" />


            <input class="btn btn-secondary mt-3 mb-3" type="submit" value="Sign Up" />
        </form>

    </div>

</div>
</div>
{% endblock %}