{% extends 'main/base.html' %}
{% load static %}

{% block title %} All Requests  {% endblock %}
{% block content  %}

   
      
        <div class="container p-3">
            <h1>All Orders</h1>
            {% if requests.count == 0 %}
             <div class="alert alert-info">No order yet.</div>
            {% endif %}
             
        </div>
        <div class="row">
            {% for request in requests %}
            <div class="col-4 p-4 ">
               <div class="card-body gap-2 p-4 border border-1 rounded-2 " style="background-color: #dfdddc5b;">
                     
                <h4> Title service <a href="{% url 'services:details_service_view' request.service.id %}" >{{request.service.title}}</a></h4>
                 
                <h6>Consierge:{{request.service.user.first_name}} {{services.user.last_name}}</h6>
                  
                 <h6>Category:<a href="{% url 'services:details_typeService_view' request.service.type_service.id %}">{{request.service.type_service.title}}</a></h6> 
                  <h4>By user: {{request.user.first_name}} {{request.user.last_name}}</h4>
                  <h4>Note: {{request.note}}</h4>
                  <div class="d-flex flex-row gap-2">
                    <span style="color: rgba(255, 0, 0, 0.34);" class="material-symbols-outlined">
                        payments
                        </span> 
                        <h4>{{request.request_price}} Riyal</h4>
                    </div>
                    <div class="d-flex flex-row g-2">
                        <span style="color: rgba(255, 0, 0, 0.396);" class="material-symbols-outlined">
                            calendar_month
                            </span>
                         <h6>{{request.date }}</h6>
                    </div>
                  
                  <h4> Status :{{request.status}}</h4>
                  <a href="{% url 'request:delete_request_admin_view' request.id %}" class="btn btn-primary">Delete</a>
                </div>    
            </div> 
            {% endfor %}
        </div>
     
        
   


    

{% endblock %}