{% extends 'main/base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}

<section class="container">

    <h1>Contact</h1>

    <div class="card-Contact">
    <form action="{% url 'main:contact_view' %}" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}  
       
        <label >Content:</label>
        <textarea  class="form-control" name="content"></textarea>
         
        {% for key, value in categories.choices  %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="{{key}}" value="{{value}}">
                <label class="form-check-label" for="{{key}}">
                {{value}}
              </label>
            </div>
        {% endfor %}
        <input class="btn btn-primary mt-2" type="submit" value=" Send" />
 
      </form>
    </div> 
 
  </div> 
</div>
</section>
{% endblock %}
