{% extends 'main/base.html' %}
{% block title %} home {% endblock %}
{% block content %}

<section class="container">
   
    <h1>Contact</h1>
    
    <div class="card">
        <h1>Phrase</h1> 
         <h4>WHAT ARE YOU LOOKING FOR? </h4>
          <div class="input-group rounded w-50">
             <form role="search" action="{% url 'main:search_view' %}" method="GET">  
                 <input name="search" class="form-control" type="search" placeholder="Search" aria-label="Search">
             </form>
         </div>
          <h3>introduction</h3>
    </div>

<div class="container row">
   
    <h4>All Our services</h4>
    {% for service in typeServices %}
        <div class="card1"style="width:16rem;">
            <div class="card-img" style="width:15rem;">
                <img class="card-img-top" src="{{service.image.url}}" alt="Card image cap">
            </div>
                <div class="card-body">
                    <a href="{% url 'services:details_typeService_view' service.id %}" ><p class="card-text">{{service.title}}</p></a>
                    <p>{{service.description}}</p>
                </div>
        </div>
    {% endfor %}
</div>
     
</section>      

{% endblock %}

