{% extends 'main/base.html' %}
{% block title %} home {% endblock %}
{% block content %}

<div class="homepage">

    <div class="row">
        <div class="title col">
         <h1>LuxeAssist</h1> 
        <p style="font-size: 20px;">LuxeAssist distinguishes itself as an unparalleled service, endowing our members with the invaluable resource of time. Beyond the conventional, we unlock gates to comfort and luxury, offering an expansive suite of personal and professional services catering to life's fundamental necessities, desires, and exigencies. LuxeAssist is not merely about today; it's a commitment to curating a complete luxury lifestyle that transcends the present.</p>
         <h5>WHAT ARE YOU LOOKING FOR? </h5>
          <div class="input-group rounded w-50">
             <form role="search" action="{% url 'main:search_view' %}" method="GET">  
                 <input name="search" class="form-control" type="search" placeholder="Search" aria-label="Search">
             </form>
         </div>
         
    </div>
</div>  

</div>  
     
<br>

<div class="container row d-flex justify-content-center align-items-center" style="margin: 0px auto;">
 
    <h4 class="text-1">Discover our services</h4>
    <br><br>
  
    {% for service in typeServices %}
    <section id="card1 " class="card_service col-3 ms-1 ">
        <img class="image h-40 w-40" src="{{service.image.url}}" alt="Card image cap">
        <div class="card__content">
           <a style="color: white;" href="{% url 'services:details_typeService_view' service.id %}" ><p class="card__title">{{service.title}}</p></a>
          <p class="card__description">{{service.description}}.</p>
        </div>
      </section>
    {% endfor %}
</div>
     
   

{% endblock %}