{% extends 'main/base.html' %}
{% block title %} Payment {% endblock %}
{% block content %}

<section class="container">

    <h1>Add New Payment</h1>

    <div class="row">

    <div class="col-6">

    <form action="{% url 'main:payment_view'  %}" method="POST">
        {% csrf_token %}  
        <label>Full name:</label>
        <input class="form-control" type="text" name="full_name" placeholder="Full Name" required minlength="4" />

        
        <label>Method:</label>
        <input class="form-control" type="number" name="method_card" placeholder="Method" required minlength="4" />
        
        <label>Number:</label>
        <input class="form-control" type="number" name="number_card" placeholder="Name" required minlength="4" />
         
        <label >Expiration Date:</label>
        <input  class="form-control" name="expiration_date" type="date" />

        <label>CVV:</label>
        <input class="form-control" type="number" name="cvv" placeholder="cvv" required minlength="2" />
        
        <input class="btn btn-primary mt-2" type="submit" value=" Payment" />
 
     </form>
   </div> 
 
</div> 
</section>

{% endblock %}