{% extends 'main/base.html' %}

{% block title %} All  {% endblock %}

{% block content %}

<section class="container pt-4">

    <div class="d-flex justify-content-between">
    
    <h1>Search results for service`{{ request.GET.search }}` ({{ services.count }})</h1>
    
        <div class="container row">
            
        {%for services in services %}
        <div class="col-4 g-2">
      
      
            <div class="d-flex flex-row gap-3">
                <div class="card-body gap-3 p-3 rounded-2 " style="background-color: #dfdddc5b; width: 100%; box-shadow: 0 3px 8px #000000;">
                    
                    
                  <img src="{{services.image.url}}" height="200px" width="100%">
                    <div class="d-flex gap-1">
                    <img class="avatar mt-3" src="{{ user.profile.avatar.url }}" width="60px" style="border-radius:50%" class="rounded-circle" />
                    </div>
                    <h6 class="card-title"> Consierge {{services.user.first_name}} {{services.user.last_name}}</h6>
                    <br>
                    <a href="{% url 'services:details_service_view' services.id %}" ><h2>{{services.title}}</h2></a>
                    <h6>{{services.description}}</h6>
                    <h6>Price {{services.initial_price}}</h6>
                </div>
            
              </div>
              
            </div>
    {% endfor %}
    </div>
    </div>
</section>
{% endblock %}