{% extends 'main/base.html' %}


{% block title %} All Services {% endblock %}


{% block content %}

<div class="container">

    <div class="row">

        <div class="col-5">
            <form action="{% url 'services:add_service_view' service.id %}" method="POST" class="d-flex flex-column gap-2">
                {% csrf_token %}

                <label>Title</label>
                <input class="form-control" name="title" type="text" required minlength="4"/>
                
                <label>Description</label>
                <input class="form-control" name="description_Servic" type="text" required minlength="10"/>

                <label>Image</label>
                <input class="form-control" name="image" type="file"  accept="image/*"/>

                <label>Initial price</label>
                <input class="form-control" name="initial_price" type="text" required />
                
            </form>

        </div>
    </div>
</div>

{% endblock %}