{% extends 'main/base.html' %}


{% block title %} All Services {% endblock %}


{% block content %}

<div class="container">

    <div class="row mt-5">
        {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endif %}
        <div class="col-5">
            <form action="{% url 'services:add_service_view' %}" method="POST" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                {% csrf_token %}

                <label>Title</label>
                <input class="form-control" name="title" type="text" required minlength="4"/>
                
                <label>Description</label>
                <input class="form-control" name="description" type="text" required minlength="10"/>

                <label>Image</label>
                <input class="form-control" name="image" type="file"  accept="image/*"/>

                <label>Initial price</label>
                <input class="form-control" name="initial_price" type="text" required />
                
                <label>Service categories</label>
                <select class="form-select" name="type">
                    {% for type in service_types %}
                        <option value="{{ type.id }}">{{type.title}}</option>
                    {% endfor %}
                </select>

                <input class="btn btn-primary" type="submit" value="Add Service" />
            </form>

        </div>
    </div>
</div>

{% endblock %}