{% extends 'main/base.html' %}


{% block title %} All Services Provider {% endblock %}


{% block content %}
<div class="wrapper ">
  {% if msg %}
  <div class="alert alert-danger " role="alert">
      {{ msg }}
  </div>
  {% endif %}

<div class="row p-4 justify-content-center" style="margin-top:100px; ">
{% for user in coceirge_users %}
<div class=" ard_service col-3 ms-1">
 <div class="card " style="width: 20rem; height:25rem ;  margin: 40px auto; background-color: #ffffff7a; " >
   <div class="card-body" >
      {% if user.is_active %} <h3>Active</h3> {% else %} <h3>Not Active</h3> {% endif %}
     <img class="avatar mt-3" src="{{ user.profile.avatar.url }}" width="50px" style="border-radius:50%" class="rounded-circle" />
     <h5 class="card-title">Name:{{user.first_name}} {{user.last_name}}</h5>
     <a href="mailto:{{ user.email }}"><h5 class="card-title">Email:{{user.email}}</h5></a>
     <a href="tel:{{user.profile.phone_number}}"><h5 class="card-title">Phone Number: {{user.profile.phone_number}}</h5></a>
     <a href="{% url 'services:activate_conceirge_viwe' user.id %}" class="btn btn-primary">Activate</a>
     <a href="{% url 'services:deactivate_conceirge_viwe' user.id %}" class="btn btn-primary">Deactivate</a>
   </div>
 </div>
</div>
 {% endfor %}
</div>
</div>
{% endblock %}