{% extends 'main/base.html' %}


{% block title %} All Services Admin Page {% endblock %}


{% block content %}
{% for services in all_services %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{services.image.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'services:details_service_view' services.id %}">{{services.title}}</a></h5>
      <p class="card-text"> {{services.description}}</p>
      <h6 class="card-subtitle mb-2 text-muted"> Price {{services.initial_price}}</h6>
      <a href="{% url 'services:delete_services_admin_views' services.id %}" class="card-link">Delete</a>
    </div>
  </div>
   

{%endfor%}

{% endblock %}