{% extends 'main/base.html' %}


{% block title %} Add Type Services {% endblock %}


{% block content %}


<div class="start1">
  <img src="{{typeService.image.url}}" width="100%" height="600vh" style="z-index: -1;"/>

  <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: -15rem; color: white; ">
    <h2 class="contant">{{typeService.title}}</h2>
    <h5 class="contant">{{typeService.description}}</h5>
   </div>
</div>

<div class="container p-3">
   {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endif %}

    <div class="row" style="margin-top:100px;">
      {% for services in services %}
    <div class="col-4 g-2">
      
      
        <div class="d-flex flex-row gap-3">
            <div class="card-body gap-3 p-3 rounded-2 " style="background-color: #dfdddc5b; width: 100%; box-shadow: 0 3px 8px #000000;">
                
                
              <img src="{{services.image.url}}" height="200px" width="100%">
                <div class="d-flex gap-1">
                <img class="avatar mt-3" src="{{ user.profile.avatar.url }}" width="60px" style="border-radius:50%" class="rounded-circle" />
                </div>
                <h6 class="card-title"> Consierge {{services.user.first_name}} {{services.user.last_name}}</h6>
                <br>
                <a href="{% url 'services:details_service_view' services.id %}" ><h2>{{services.title}}</h2></a>
                <h6>{{services.description}}</h6>
                <div class="d-flex flex-row gap-2">
                  <span style="color: rgba(255, 0, 0, 0.625);" class="material-symbols-outlined">
                      payments
                      </span> 
                  <h6>{{services.initial_price}} Riyal</h6>
                  </div>
              
            </div>
        
          </div>
          
        </div>
    {% endfor %}
    </div>


{% endblock %}


