{% extends 'main/base.html' %}


{% block title %} Add Type Services {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
      {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endif %}
        <div class="col-8">
            <img src="{{typeService.image.url}}"  width="600px" height="400px"/>
            <h2>{{typeService.title}}</h2>
            <h5>{{typeService.description}}</h5>
        </div>
    </div>

  
    <div class="dropdown p-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Edit  
      </button>
      <ul class="dropdown-menu">
        {% if request.user.is_superuser %}
          <li><a class="dropdown-item" href="{% url 'services:delete_services_views' typeService.id %}">Delete Service categories</a></li>
        {%endif%}
        {% if request.user.is_superuser and request.user.is_staff %}
          <li><a class="dropdown-item" href="{% url 'services:update_typeService_view' typeService.id %}">Update Service categories</a></li>
        {%endif%}
        {% if user.groups.exists%}
        <li><a class="dropdown-item" href="{% url 'services:add_service_view' %}">Add consierge services</a></li>
        {%endif%}
      </ul>
    </div>
  
    
    

    <div class="row">
        <div class="col-5">
            {% for services in services %}
            <div class=" d-flex flex-row gap-1 justify-content-start align-items-center">
              <img  src="{{ user.profile.avatar.url }}" class="rounded-circle avatar p-2" width="70px" />
              <h5> <h6 style="color: rgb(87, 3, 3);">Consierge </h6>{{services.user.first_name}} {{services.user.last_name}}</h5>
            </div>
            
            <img src="{{services.image.url}}"/>
                <a href="{% url 'services:details_service_view' services.id %}" ><h4>{{services.title}}</h4></a>
                <h4>{{services.description}}</h4>
                <h5>{{services.initial_price}}</h5>
            {% endfor %}


        </div>
    </div>
</div>


{% endblock %}