{% extends 'main/base.html' %}


{% block title %}  Services {% endblock %}


{% block content %}

<div class="start1">
  <img src="{{service.image.url}}" width="100%" height="520vh" style="z-index: -1;"/>
  <div class="d-flex flex-column justify-content-center align-items-start" style="margin-top: -19rem; color: white; ">
    <div class="card-body gap-2 p-3 rounded-2 col-8" style="background-color: #4b351979;" >
      <h2 class="contant">Service {{service.title}}</h2>
      <h5>category: {{service.type_service.title}}</h5>
    <div class="d-flex flex-row gap-1">
      <h4> <h5 style="color: rgb(250, 250, 250);">Consierge </h5>{{service.user.first_name}} {{service.user.last_name}}</h4>
    </div>  
    <h5>{{service.description}}</h5>
    <h5>initial price: {{service.initial_price}}</h5>
    
    <a class="btn btn-dark mb-3 "  data-bs-toggle="modal" data-bs-target="#orderModal">Order</a>
   </div>
</div>
<div class="container">
  <div class="row">
  {% if msg %}
    <div class="alert alert-danger" role="alert">
        {{ msg }}
    </div>
  {% endif %}
  

  </div>
  </div>




    
    <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Order</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Do you want to request this service? {{ service.name }}

            <form action="{% url 'request:add_Request_view' service.id %}" method="POST" >
                {% csrf_token %}
                    <label class =" mt-2">order time:</label>
                    <input class="form-control" name="date" type="datetime-local" />

                    <label class =" mt-2">note:</label>
                    <textarea class="form-control" name="note"></textarea>

                    <label>price</label>
                    <input class="form-control" name="request_price" type="text" required />

                    <input type="submit" value="Order" class="btn btn-dark mt-2"/>
            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
           
            </div>
        </div>
        </div>
    </div>
</div>
<div style="background-color:#f0ebd6; margin-top: -5rem;">
  <section class="p-3 ">
    <div clss="row ">
        <h2>Reviews</h2>
        <div class="col-12 d-flex flex-column gap-2 ">
            {% for review in reviews %}
            <hr>
            <div class="review d-flex flex-column gap-2">
                <h3 id="name">{{review.user.username}}</h3>
                <h5  class="text-muted">{{review.rating}} <span class="material-symbols-outlined">grade</span></h>
                <p style="color: black;">{{review.comment}}</p>
                <h6 class="text-muted" >{{review.created_at}}</h6>
            </div>
            {% endfor %}

        </div>
    </div>
  
</section>

  <hr>

 

    <div class="row add_rev p-3">
      <div class="col-6 ">
          <h5> Add Review</h5>
          <form action="{% url 'services:details_service_view' service.id %}"method="post">
              {% csrf_token %}
          <select class="form-select mp-4 " name="rating">
              <option value="1">1 Star</option>
              <option value="2">2 Star</option>
              <option value="3">3 Star</option>
              <option value="4">4 Star</option>
              <option value="5">5 Star</option>
          </select>
          
          <label>Comment</label>
          <input class="form-control mb-4" type="text" name="comment"/>
          {% if request.user.is_authenticated %}
          <button  class="btn btn-primary mp-4" type="submit"> Add Review </button> 
          {% else %}
          <button  class="btn btn-primary mp-4" type="submit" disabled> Add Review </button>
          
          {%endif%}
          <br>
  
          <a>To post a review please <a href="{% url 'accounts:login_page_view' %}">sign in</a>.
  
          </form>
          
  
  
      </div>
  </div>
</div>




{% endblock %}