{% extends 'main/base.html' %}


{% block title %} All Type Services {% endblock %}


{% block content %}



<div class="container">
    <h3>Update </h3>
    <br>
    <div class="row">
        <div class="col-6">
            <form action="{% url 'services:update_service_view' service.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Title</label>
                <input class="form-control" name="title" type="text" required minlength="4"/>
                
                <label>Description</label>
                <input class="form-control" name="description" type="text" required minlength="10"/>

                <label>Image</label>
                <input class="form-control" name="image" type="file"  accept="image/*"/>

                <label>Initial price</label>
                <input class="form-control" name="initial_price" type="text" required />
                

                <input class="btn btn-primary" type="submit" value="Update Service" />
            </form>

        </div>
    </div>
</div>

{% endblock %}